* {
    margin: 0;
    padding: 0;
  }


/* Navigation */
.wrapper{
    background-color: #F5F5F5;
    
  
 
}
.logo img{
    width: 100px;
    top: 17px;
    left: 12%; 
    position: absolute;
}
.nav-items ul{
    list-style: none;
   
   margin-right: 35px;
   
}
.nav-items{
 
    margin: 0 auto;
   left: 487px;
   top: 56px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: static;

    
}
.nav-items li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
  
}
.nav-items li a {
    text-decoration: none;
    
    font-family: 'Gochi Hand', cursive;
    color: black;
    font-weight: 1000;
    font-size: 18px;
   padding: 10px;
    position: relative;
}

.nav-items li a:hover {
background-color: #D22930;
border-radius: 3px;
color: white;
}
.btn{
    display: flex;
   float: inline-start;
   flex-direction: row;
   right: 16%;
  
   position: absolute;
}
.btn button{
    background-color: #D22930;
    color: #FFFBFB;
    font-family: 'Gochi Hand', cursive;
     font-size: 20px;
    border-radius: 5px;   
    text-align: center;
    border: #D22930 1px solid;
    width: 140px;
    height: 35px;
}
.btn button:hover{
    border: black 3px solid;
}
 .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/* Social Icon */
.social{
    float: left;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
}
/* top conatiner */
.top-conatiner{
   margin: 0;
   padding-top: 5%;
   padding-bottom: 5%;
    text-align: center;
    width: 100%;
    position: relative;
   
}
.bg-img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: sticky;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    margin-top: -15px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right:0 ;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(251, 250, 250, 0.8);
    color: black;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
 
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* 2 section */
.sticky-img{
    background-image: url(images/alva-pratt-a5ToDH34m0I-unsplash\ 1.png);
    background-repeat: no-repeat;    
    height: 960px;
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.sticky-img2{
    background-image: url(images/Group\ 5.png);
    background-repeat: no-repeat;    
    height: 680px;
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.about{
  background-image: url(images/contact\ 1.png);
  background-repeat: no-repeat;    
  height: 960px;
  width: 100%;
  
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.flex-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding-top: 30em;
position: relative;
margin-right: 60px;
font-family: 'Gochi Hand', cursive;


}
.text1 img{
position: absolute;
right: 30px;
top: 70%;

}
.buttons {
    display: flex;
    flex-direction: row;  
    margin-top: 8px;
    align-items: stretch;
    padding: 0px;
    justify-content: flex-start;
    position: absolute;
    right: 20px;
}
.buttons button{
    background-color: #D22930;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    border-radius: 20px;
    border: solid 2px #D22930;
    color: white;
    font-family: 'Gochi Hand', cursive;
    width: 131px;
    height: 58px;
    text-align: center;
}
.buttons button:hover{
    border: black 3px solid;
}

/* footer section */
footer {
    background-color: #D22930;
    margin: 0 0 ;
    text-align: center;
    padding: 10px;
}
footer h4{
    color: #F5F5F5;
    margin: 0;
    font-family: Helvetica, Sans-Serif;
    font-weight: 400;
    font-size: 14px;
}

@media  (max-width: 1118px){
    nav img{
        left: 8%;
    }
}
@media  (max-width: 944px){
    nav img{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 10px;
    }
}
